<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>tweetof.money</title>
        <link rel="stylesheet" href="/static/root.css" />
        <link rel="stylesheet" href="/static/global/elements/navbar.css" />
        <link rel="stylesheet" href="/static/index.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
            integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="topbar">
            <div id="navbar"></div>
        </div>
        <div class="front-card">
            <div class="front-welcome">
                <h1>Welcome to Tweetof.</h1>
                <p>
                    Connect with people you know, find new fascinating people,
                    and get updates on the things that you're interested in.
                    Watch events, communities, and stories unfold from every
                    angle.
                </p>
            </div>
            <div class="account-options">
                <div class="front-login">
                    <h2>Log in to Tweetof</h2>
                    <div>
                        <input
                            type="text"
                            placeholder="Username"
                            id="front-uname-input"
                        />
                        <div class="front-login-pw-sep">
                            <input
                                type="password"
                                placeholder="Password"
                                id="front-pass-input"
                            />
                            <button id="front-login-button">Log in</button>
                        </div>
                    </div>
                </div>
                <div class="front-signup">
                    <h2>Don't have a wasteof account?</h2>
                    <p>
                        You need to use
                        <a href="https://wasteof.money">the wasteof website</a>
                        to create a wasteof account, then you can log in here.
                    </p>
                </div>
                <div class="front-signup">
                    <h2>Want to sign in with Google or GitHub?</h2>
                    <p>
                        You can't sign in using Google or GitHub on third party
                        wasteof clients such as Tweetof. Log into
                        <a href="https://wasteof.money">wasteof.money</a>, add a
                        password to your account, and then you can log in here.
                    </p>
                </div>
                <div class="front-signup">
                    <h2>What is Tweetof?</h2>
                    <p>
                        Tweetof (or tweetof.money) is an unofficial
                        <a href="https://wasteof.money">wasteof.money</a> client
                        designed to resemble Twitter circa 2015.
                    </p>
                </div>
            </div>
        </div>
        <div class="front-footer">
            <ul>
                <li><a href="https://wasteof.money/">wasteof.money</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="https://github.com/jab11n/tweetof">GitHub</a></li>
                <li><a href="/terms">Terms of Use</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <p>
                tweetof is an unofficial wasteof client created by
                <a href="https://jab11n.tech">jab11n</a>.
            </p>
        </div>
        <script src="/static/global/elements/navbar.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>
