<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Post by {{ post.author }} on Tweetof</title>
        <link rel="stylesheet" href="/static/root.css" />
        <link rel="stylesheet" href="/static/global/elements/navbar.css" />
        <link rel="stylesheet" href="/static/post.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
            integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- discord embed stuffs -->
        <meta name="theme-color" content="{{ color }}" />
        <meta
            property="og:title"
            content="Post by {{ post.author }} on wasteof.money - Tweetof"
        />
        <meta property="og:description" content="{{ post.content }}" />
        <meta property="og:site_name" content="Tweetof" />
    </head>
    <body>
        <div class="topbar">
            <div id="navbar"></div>
        </div>

        <div id="content">
            <div id="post-top">
                <div id="author">
                    <img src="https://placehold.co/100" />
                    <a href="#">@username</a>
                    <button id="follow-button">
                        <i class="fa-solid fa-user-plus"></i>&ensp;Follow
                    </button>
                </div>
                <div id="post-content">just setting up my tweetof</div>
                <div class="post-actions">
                    <a class="post-action action-reply">
                        <i class="fa-solid fa-reply"></i>
                    </a>
                    <a class="post-action action-repost">
                        <i class="fa-solid fa-repeat"></i>
                    </a>
                    <a class="post-action action-like">
                        <i class="fa-solid fa-star"></i>
                    </a>
                </div>
                <div id="post-stats">
                    <div id="post-retweets" class="post-stat">
                        <p>RETWEETS</p>
                        <h2>1234</h2>
                    </div>
                    <div id="post-favorites" class="post-stat">
                        <p>FAVORITES</p>
                        <h2>1234</h2>
                    </div>
                    <div id="post-comments" class="post-stat">
                        <p>COMMENTS</p>
                        <h2>1234</h2>
                    </div>
                </div>
            </div>
            <div id="reply-box">
                <img id="reply-box-pfp" />
                <textarea
                    id="reply-box-text"
                    placeholder="Reply to @username..."
                ></textarea>
            </div>
            <div id="comments"></div>
        </div>

        <script src="/static/global/elements/navbar.js"></script>
        <script src="/static/post.js"></script>
    </body>
</html>
